<section id="weekdates">
    <section class="week" id="week">
        <button class="last-week">Last</button>
        <p class="week-option"></p>
        <button class="next-week">Next</button>
    </section>
    <section class="date" id="date">
        <button class="date-option">SUN <br></button>
        <button class="date-option">MON <br></button>
        <button class="date-option">TUE <br></button>
        <button class="date-option">WED <br></button>
        <button class="date-option">THU <br></button>
        <button class="date-option">FRI <br></button>
        <button class="date-option">SAT <br></button>
    </section>
</section>