<section id="timeslots">
    <section class="time" id="slot"></section>

    <section class="details" id="details">
        <p id="slot-name"></p>
        <p id="slot-time"></p>
        <p id="slot-open"></p>
        <button style="margin: auto; border-radius: 15px;">Select Timeslot</button>
    </section>
</section>