<section id="timeslots">
    <section class="time" id="slot"></section>

    <section class="details" id="details">
        <p id="slot-name"></p>
        <p id="slot-time"></p>
        <p id="slot-open"></p>
        <button class="slot-list" id="slot-list"></button>
    </section>
</section>