<section class="header-tool">
    <button id="slot-vis" onClick="vis('slot-vis')">Times</button>
    <button id="date-vis" onClick="vis('date-vis')">Dates</button>
    <button id="list-add" onClick="location.href='./list'" type="button">Lists</button>
</section>