<section class="header-tool">
    <button id="list-vis" onClick="vis('list-vis')">Lists</button>
    <button id="slot-vis" onClick="vis('slot-vis')">Times</button>
    <button id="date-vis" onClick="vis('date-vis')">Dates</button>
</section>