<section class="header-user">
    <section class="user-details">
        <div class="user-main">John Smith<span>DJ</span></div>
        <button class="icon">JS</button>
        <button class="logout-button">Logout</button>
    </section>
</section>