@import url("colors.css");

button:hover,
input[type="submit"] {
	cursor: pointer;
}

.assign-dj-modal {
	display: none;
	height: 100%;
	width: 100%;
	padding: 2rem;
	position: fixed;
	z-index: 1;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.71);
}
.assigndj-container {
	height: 80%;
	width: 60%;
	padding: 50px;
	background-color: var(--black);
	border-radius: 30px;
	box-shadow: 0px 0px 50px 10px #151515;
	display: flex;
	color: var(--white);
	gap: 4rem;
}

.assigndj-overview-section {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.assigndj-overview-section .icon {
	height: 12rem;
	width: 12rem;
	border-radius: 30px;
	border: 1px solid var(--purple);
	overflow: hidden;
	background-color: var(--light-black);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-size: 60px;
	box-shadow: var(--shadow);
	user-select: none;
}

.assigndj-overview-section .name {
	font-weight: bold;
	font-size: 25px;
}

.list-section {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.list-section span {
	font-weight: bold;
	font-size: 30px;
}

.dj-list {
	height: 100%;
	width: 100%;
	padding: 1.5rem;
	border-radius: 30px;
	border: 1px solid var(--purple);
	box-shadow: var(--shadow);
	display: grid;
	gap: 30px;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 125px);
	grid-template-rows: repeat(auto-fill, 125px);
	overflow: auto;
}

.dj {
	min-width: 125px;
	min-height: 125px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: var(--dark-purple);
	box-shadow: 0px 0px 10px 0px #722ae656;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.3s ease-in-out;
	user-select: none;
}

.dj:hover {
	cursor: pointer;
	border-width: 0 2px 0 2px;
	border-color: var(--purple);
	box-shadow: 0px 0px 10px 1px var(--purple);
}
