main {
    display: grid;
    
    font-family: Helvetica, Tahoma, Verdana, sans-serif;
    font-size: large;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

time {
    text-align: center;
    font-size: x-large;
    
}

hr {
    background-color: black;

    margin: 0;
    height: 1px;
    width: 100%;
}

h1 {
    padding-left: 10px; 
    line-height: 5px;
}

button {
    background-color: white;
    font-size: large;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 3px;
}

button:hover {
    background-color: rgb(221, 221, 221);
}

button:active {
    background-color: rgb(153, 194, 228);
}

a {
    color: black;
    text-decoration: none;
}

li { font-size: medium; }

.header-tool {
    grid-template-columns: repeat(3, 1fr);
    
    align-items: center;
    align-self: center;
}

.header-time {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
    margin: auto;

    font-size: larger;
    text-align: center;
}

.header-user {
    grid-template-rows: repeat(2, 1fr);

    line-height: 10px;
    font-size: medium;
    text-align: center;
    justify-self: last baseline;
    margin-right: 15px;
}

.week {
    display: grid;
    grid-template-columns: 5% 5% 5%;

    text-align: center;
    justify-content: center;
}

.week button {
    border-radius: 15px;
    padding: 5px 10px 5px 10px;

    margin: auto;
}

.date {
    display: grid;
    grid-template-columns: repeat(7, 10%);
    
    justify-content: center;
}

.date-option {
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: none;
    border-bottom: none;
    margin: 10px;
    
    margin-left: 5px;
    margin-right: 5px;

    text-align: center;
}

.time {
    display: grid;
    grid-template-columns: repeat(7, 10%);
    grid-template-rows: repeat(5, 50px);
    
    justify-content: center;
}

.timeslot {
    margin: auto;
    padding: 7px 20px 7px 20px;

    text-align: center;
}

.timeslot-closed {
    margin: auto;
    padding: 7px 20px 7px 20px;

    text-align: center;
    
    border-color: rgb(176, 64, 64); 
    border-width: 5px;
    background-color: rgb(208, 100, 100);
}

.timeslot:focus {
    border-color: rgb(64, 126, 176);
    border-width: 5px;

    background-color: rgb(153, 194, 228);
}

.details {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    border: 1px solid black;
    background-color: white;
    margin: auto;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    justify-content: center;
}    

.details button {
    padding: 5px 10px;
}

#slot-open {
    background-color: rgb(71, 235, 180); 
    margin: auto; 
    padding: 5px; 
    border-radius: 15px;
}

.records section {
    border: 1px solid black;
}

.records ul {
    list-style-type: none;
    line-height: 5px;
}

.records li {
    display: grid;
    grid-template-columns: 15% 65% 10% 10%;

    align-items: center;

    margin-left: -30px;
}

.records li:nth-child(odd) {
    background-color: rgb(243, 243, 243)
}

.records button {
    border-radius: 25px;
    text-align: center;
    margin: auto;
}