@import url("colors.css");

button:hover,
input[type="submit"] {
	cursor: pointer;
}

.modal {
	height: 100%;
	width: 100%;
	padding: 40px 30px;
	background-color: var(--black);
	border-radius: 30px;
	box-shadow: 0px 0px 50px 10px #151515;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.back,
.forward {
	flex: 0 0 auto;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	background-color: var(--purple);
	border: 2px solid var(--dark-purple);
	color: var(--white);
	font-weight: bold;
	box-shadow: 0px 0px 40px 0px #722ae656;
	transition: all 0.2s ease-in-out;
}

.back:hover,
.forward:hover {
	cursor: pointer;
	background-color: var(--dark-purple);
	border: 2px solid var(--purple);
	transform: scale(1.05);
}

.day-container {
	height: 100%;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	grid-template-columns: repeat(7, minmax(0, 1fr));
}

.day-container .day {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	color: var(--white);
}

.day .day-label {
	width: 100%;
	height: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: var(--purple);
	box-shadow: 0px 0px 40px 0px #722ae656;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	user-select: none;
}

#current {
	background-color: #e4b5cb;
	box-shadow: 0px 0px 35px 0px var(--purple);
	background-image: var(--gradient);
}

.day-label:hover,
#current:hover {
	box-shadow: 0px 0px 40px 0px #e4b5cb;
}

.day .day-label span {
	font-size: 10px;
	font-weight: normal;
}

.day .timeslot-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.day .timeslot {
	width: 75%;
	height: 3rem;
	background-color: var(--purple);
	box-shadow: 0px 2px 0px 1px #5820b4;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.1s ease-out;
	user-select: none;
}

.day .timeslot:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.taken {
	background-color: #462778 !important;
	box-shadow: -3px 3px 0px 1px #2e1655 !important;
	color: #dcd5d56c !important;
}
