@import url("colors.css");

button:hover,
input[type="submit"] {
	cursor: pointer;
}

.timeslot-modal {
	display: none;
	height: 100%;
	width: 100%;
	padding: 2rem;
	position: fixed;
	z-index: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.71);
	gap: 2.5rem;
}

.title {
	color: var(--white);
	font-weight: bold;
	font-size: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title span {
	font-size: 15px;
}

.container {
	position: relative;
	height: 80%;
	width: 60%;
	padding: 50px;
	background-color: var(--black);
	border-radius: 30px;
	box-shadow: 0px 0px 50px 10px #151515;
	grid-template-columns: repeat(7, minmax(0, 1fr));
	display: flex;
	color: var(--white);
	gap: 4rem;
}

.overview-section {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 4rem;
}

.overview-section .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.overview-section .icon {
	height: 15rem;
	width: 15rem;
	border-radius: 30px;
	border: 1px solid var(--purple);
	overflow: hidden;
	background-color: var(--light-black);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-size: 60px;
	box-shadow: var(--shadow);
	user-select: none;
}

.overview-section .name {
	font-weight: bold;
	font-size: 25px;
}

.overview-section button {
	height: 3rem;
	width: 12rem;
	border-radius: 5px;
	background-color: var(--purple);
	color: var(--white);
	font-weight: bold;
	box-shadow: var(--gradient);
	transition: all 0.1s ease-in-out;
}

.overview-section button:hover {
	transform: scale(1.05);
	background-color: var(--dark-purple);
}

.playlist-section {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.playlist-section span {
	font-weight: bold;
	font-size: 30px;
	border: 1px solid var(--purple);
	background-color: var(--black);
	box-shadow: var(--shadow);
	border-radius: 20px;
	padding: 15px 30px;
}

.song-list {
	width: 100%;
	height: 100%;
	padding: 30px;
	border-radius: 5px;
	border-width: 0 2px 0 2px;
	border-style: solid;
	border-color: var(--purple);
	box-shadow: 0px 0px 40px 0px #722ae656;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
	overflow: auto;
}

ol {
	list-style-position: inside;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	margin: 0;
	padding: 0;
}

li,
.song-list button {
	width: 100%;
	background-color: var(--black);
	font-weight: normal;
	padding: 10px 15px;
	border-radius: 30px;
	box-shadow: var(--shadow);
	transition: all 0.1s ease-in-out;
	user-select: none;
	color: var(--white);
}

li:hover {
	background-color: var(--purple);
	transform: scale(1.025);
}

.song-list button {
	width: 10rem;
	background-color: var(--purple);
}

.song-list button:hover {
	background-color: var(--dark-purple);
	transform: scale(1.025);
}
